services:
  nginx:
    image: secultceara/nginx:latest
    restart: unless-stopped
    volumes:
      - /dev/null:/var/www/html/index.php
      - public-files:/var/www/html/files
      - assets:/var/www/html/assets
    ports:
      - "8080:80"
    depends_on:
      - mapasculturais
    links:
      - mapasculturais
  
  mapasculturais:
    image: secultceara/mapasculturais:homolog
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - assets:/var/www/html/assets
      - public-files:/var/www/html/files
      - private-files:/var/www/var/private-files
      - saas-files:/var/www/var/saas-files
      - sessions:/var/www/var/sessions
      - logs:/var/www/var/logs
    links:
      - db
      - redis
      - sessions     

    depends_on:
      - db
      - redis
      - sessions

  redis:
    image: redis:6
    command: --maxmemory 1256Mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
 
  sessions:
    image: redis:6
    command: --maxmemory 384Mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    volumes:
      - sessions:/data

  db:
    image: secultceara/postgis:14
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=mapas
      - POSTGRES_USER=mapas
      - POSTGRES_DB=mapas
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    
# Configuração dos volumes
volumes:
  assets:
  db-data:
  logs:
  private-files:
  public-files:
  saas-files:
  sessions:

